@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,900");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

body {
  background-color: #f8f8f8;
}

.container {
  display: flex;
  flex-direction: row;
}

.side-bar {
  display: flex;
  flex-direction: column;
  background-color: #70986f;
  width: 270px;
  height: 100vh;
  z-index: 2;
  left: 0;
  position: fixed;
}

.header {
  position: relative;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: large;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0px;
}

.profile img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: relative;
  top: 30px;
}

.profile h4 {
  position: relative;
  top: 40px;
}
.profile h5 {
  position: relative;
  top: 50px;
  color: lightcyan;
}

.side-bar .menu-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 100px;
  gap: 30px;
}

.menu-bar button {
  width: 180px;
  height: 30px;
  border-radius: 10px;
  background-color: #70986f;
  cursor: pointer;
  outline: #3a5b22 1px solid;
  border: none;
}

.menu-bar button:hover {
  background-color: #3a5b22;
}

.menu-bar .users {
  background-color: #3a5b22;
}

.menu-bar .logout {
  position: relative;
  top: 200px;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: #e4ffcc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  color: black;
}

.search {
  border-radius: 10px;
  border: none;
}

a {
  text-decoration: none;
  font-size: 18px;
}

#btnback {
  position: relative;
  right: 700px;
  color: black;
  font-size: 30px;
}

#search {
  position: relative;
  left: 550px;
  font-size: 30px;
  color: black;
}

form {
  position: relative;
  left: 350px;
  /* border-radius: 10px; */
}

#notif {
  position: relative;
  left: 400px;
  font-size: 30px;
  color: black;
}

.content {
  width: 100%;
  height: 50px;
  margin-left: 270px;
}

.mini-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  margin-top: 50px;
}
.add-user {
  width: 100%;
  height: 50px;
  /* background-color: #d8ffd2; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-user button {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: #70986f;
  border: none;
  outline: 1px black solid;
  cursor: pointer;
}

.add-user button:hover {
  background-color: #3a5b22;
}

.table-head {
  background-color: #a5cfa5;
  border-radius: 10px;
}

table {
  /* background-color: #d8ffd2; */
  border-collapse: collapse;
  text-align: center;
}

.my-table  {
  align-items: center;
  background-color: #d8ffd2;
  border-collapse: collapse; 
  transition: ease-in-out 3s;
}

.my-table .table-body tr:hover{
  background-color: #b5f2b0;
}

td button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 30px;
  border-radius: 20px;
  background-color: #a5cfa5;
  border: none;
  outline: 1px black solid;
  cursor: pointer;
}

.btn-edit-hps {
  text-align: right;
}

.text-edit-hps {
  text-align: right;
}

td button:hover {
  background-color: #659364;
}

td {
  padding: 10px;
}

th {
  padding: 10px;
}

#icon-edit {
  font-size: 20px;
  margin: 0px 25px 0px 0px;
}

#icon-delete {
  font-size: 20px;
  margin: 0px 1px 0px 2px;
}
